/* .aboutH1 {
    color: var(--text);
    text-align: left;
    margin: 10px;
    padding: 0;
    font-size: 30px;
} */

.aboutSection {
  width: 100vw;
  height: 100svh;
}

.aboutH2 {
    position: absolute;
    font-size: 2rem;
    right: 2rem;
    bottom: 20%;
    writing-mode: vertical-rl;
    transform: rotate(180deg);
}

@media (min-width: 800px){
    .aboutH2 {
        font-size: 30px;
    }
}
