.blob, .blobOverlay {
  z-index: -1;
}

.blob {
  border-radius: 50%;
  transition: width 1s ease, height 1s ease, top 1s ease, left 1s ease;
}

.blobText {
  width: 100%;
  height: 100%;
  display: none;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-shadow: 2px 2px 6px rgb(0, 0, 0);
  animation: slideInFromLeft 1s ease forwards;
}

.blobText > h2 {
  margin-bottom: 15px;
}

.blobText > p {
  line-height: 25px;
  width: 60vw;
  text-align: center;
}

.about-page .blob, .about-page .blobOverlay{
  z-index: 0;
}

/* .closeBlob {
  color: white;
  margin-top: 30px;
  text-shadow: none;
  background: none;
  border: none;
  font-size: 20px;
} */

.blob1 {
  position: absolute; 
  top: 320px;
  left: 50px;
  width: 25vw; 
  height: 25vw; 
  background: var(--gradient1);
}

.blob2 {
  position: absolute; 
  top: 100px;
  right: 40px;
  width: 50vw; 
  height: 50vw; 
  background: var(--gradient2);
}

.blob3 {
  position: absolute; 
  top: 650px;
  right: 40px;
  width: 20vw; 
  height: 20vw; 
  background: var(--gradient3);
}

.blob4 {
  position: absolute; 
  top: 450px;
  left: 120px;
  width: 40vw; 
  height: 40vw; 
  background: var(--gradient4);
}

.blobOverlay {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100svh;
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  pointer-events: none;
}

.about-page .blobOverlay{
  top: 65px;
  height: calc(100svh - 65px);
}

.about-page .clickedBlob{
.clickedBlob{
  width: 70vw;
  height: 70vw;
  top: 25%;
  z-index: 1;
  font-size: 5vw;
}

.blobClicked1, .blobClicked4 {
  left: 10%;
}

.blobClicked2, .blobClicked3 {
  right: 10%;
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
    opacity: 0;
 
  }
  100% {
    transform: translateX(0);
    opacity: 1;

  }
}

@keyframes slideInFromRight {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@media (min-width: 800px){
  .blob1 {
    width: 9vw; 
    height: 9vw;
    top: 250px;
    left: 250px;
  }
  .blob2 {
    top: 100px;
    right: 250px;
    width: 18vw; 
    height: 18vw;
  }
  .blob3 {
    right: 150px;
    width: 9vw; 
    height: 9vw; 
  }
  .blob4 {
    left: 550px;
    width: 16vw; 
    height: 16vw; 
  }
  .clickedBlob{
    width: 23vw;
    height: 23vw;
    top: 25%;
    z-index: 1;
    font-size: 2vw;
  }
  .blobText > p {
    width: 20vw;
    line-height: 40px;
  }
  .blobText {
    animation: slideInFromRight 1s ease forwards;
  }
}
