.chatHeading {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 30px;
  font-weight: bold;
  width: auto;
  margin: 0 0 1rem;
  padding: 0 2rem;

  position: absolute;
  top: 0.5rem;
  right: 0;

}

.chat-h2{
  margin-bottom: 0;
}

.newPostBtn {
  cursor: pointer;
  height: fit-content;
  background-color: transparent;
  border: 0;
  font-size: 2rem;
  color: var(--text);
}

.newPostDiv {
  backdrop-filter: blur(30px);
  -webkit-backdrop-filter: blur(30px);
  border: 2px solid var(--primary);
  border-radius: 5px;
  padding-bottom: 0.5rem;
  margin: auto;
  width: 90%;
  position: absolute;
  top: 10rem;
  left: 5%;
}

.newPostDiv svg {
  width: 20px;
  height: 20px;
  fill: var(--text);
}

.closePostBtn {
  display: block;
  cursor: pointer;
  margin-left: 90%;
  padding: 1rem 0.5rem;
  background-color: transparent;
  border: 0;
  font-size: 1rem;
  color: var(--text);
}

.newPostTitle {
  display: block;
  margin: auto;
  margin-top: 0, 5rem;
  padding: 0.5rem;
  border-radius: 5px;
  border: 2px solid var(--primary);
  height: 2rem;
  width: 80%;
  background-color: var(--background);
  color: var(--text);
  height: 3rem;
  width: 90%;
}

.moodText {
  display: block;
  margin-left: 1rem;
  margin-top: 0, 5rem;
  padding: 0.5rem;
  width: 80%;
}

.chooseMood {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 50px;
  width: 90%;
  margin: auto;
  padding: 1rem;
  border-radius: 5px;
  border: 2px solid var(--primary);
  background-color: var(--background);
}

.chooseMood input[type="radio"] {
  display: none;
}

.chooseMood label {
  cursor: pointer;
  margin: 0;
}

.moodIcon {
  position: relative;
}
.moodIcon.selected {
  background-color: var(--primary);
  /* border-radius: 5px; */
  padding: 0.5rem;
}

.moodIcon.selected::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.newPostText {
  display: block;
  height: 9rem;
  margin: auto;
  margin-top: 2rem;
  padding: 0.5rem;
  width: 90%;
  border-radius: 5px;
  border: 2px solid var(--primary);
  background-color: var(--background);
  color: var(--text);
}

.PostBtn {
  display: block;
  margin: auto;
  margin-top: 0.5rem;
  width: 9rem;
  padding: 0.3rem;
  border: 2px solid var(--primary);
  border-radius: 20px;
  background-color: var(--background);
  color: var(--text);
}

.PostBtn:hover {
  cursor: pointer;
}

@media (min-width: 800px) {
  .newPostDiv {
    width: 500px;
    margin-left: calc(50% - 250px);
    top: 7rem;
    left: 0;
  }
 .chatHeading{
  justify-content: center;
  position: relative;
  top: 0rem;
  right: 0;
 }

}
