/* .chatHeading {
  display: flex;
  justify-content: space-between;
  font-size: 3rem;
  width: auto;
  margin: 1rem;
} */

.newPostBtn {
  padding: 0.5rem;
}

.newPostDiv {
  backdrop-filter: blur(30px);
  -webkit-backdrop-filter: blur(30px);
  border: 2px solid black;
  border-radius: 5px;
  padding-bottom: 2rem;
}

.newPostTitle {
  display: block;
  margin: auto;
  margin-top: 1rem;
  padding: 0.5rem;
  border-radius: 5px;
  border: 2px solid black;
  height: 2rem;
  width: 80%;
  background-color: transparent;
  backdrop-filter: blur(30px);
  -webkit-backdrop-filter: blur(30px);
}

.moodText {
  display: block;
  margin: auto;
  margin-top: 1rem;
  padding: 0.5rem;
  width: 80%;
}

.chooseMood {
  height: 50px;
  width: 80%;
  margin: auto;
  padding: 0.5rem;
  border-radius: 5px;
  border: 2px solid black;
  backdrop-filter: blur(30px);
  -webkit-backdrop-filter: blur(30px);
}

.newPostText {
  display: block;
  height: 100px;
  margin: auto;
  margin-top: 2rem;
  padding: 0.5rem;
  width: 80%;
  border-radius: 5px;
  border: 2px solid black;
  background-color: transparent;
  backdrop-filter: blur(30px);
  -webkit-backdrop-filter: blur(30px);
}

.PostBtn {
  display: block;
  margin: auto;
  margin-top: 2rem;
  padding: 0.5rem;
}
