.chatHeading {
  display: flex;
  justify-content: space-between;
  font-size: 3rem;
  width: auto;
  margin: 1rem;
}

.newPostBtn {
  padding: 0.5rem;
}

.newPostDiv {
  backdrop-filter: blur(30px);
  -webkit-backdrop-filter: blur(30px);
  border: 2px solid var(--primary);
  border-radius: 5px;
  padding-bottom: 2rem;
  margin: 1rem;
}

.newPostDiv svg {
  width: 20px;
  height: 20px;
  /* border-radius: 20px; */
}

#closeNewPostPopUp {
  display: flex;
  justify-content: flex-end;
  margin-right: 1rem;
  margin-top: 1rem;
}

/* .newPostDiv svg:hover {
  background-color: var(--primary);
} */

.newPostTitle {
  display: block;
  margin: auto;
  margin-top: 1rem;
  padding: 0.5rem;
  border-radius: 5px;
  border: 2px solid var(--primary);
  height: 2rem;
  width: 80%;
}

.moodText {
  display: block;
  margin: auto;
  margin-top: 1rem;
  padding: 0.5rem;
  width: 80%;
}

.chooseMood {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 50px;
  width: 80%;
  margin: auto;
  padding: 0.5rem;
  border-radius: 5px;
  border: 2px solid var(--primary);
  background-color: white;
}

.newPostText {
  display: block;
  height: 100px;
  margin: auto;
  margin-top: 2rem;
  padding: 0.5rem;
  width: 80%;
  border-radius: 5px;
  border: 2px solid var(--primary);
}

.PostBtn {
  display: block;
  margin: auto;
  margin-top: 2rem;
  width: 5rem;
  padding: 0.3rem;
  border: 2px solid var(--primary);
  border-radius: 20px;
  background-color: white;
}
