
.contactDiv{
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto auto;
    margin: 0 2rem;
    padding: 20px;
    height: 70vh;
    justify-content: center;
    border: 2px solid var(--primary);
    border-radius: 10px;
    color: var(--text);
}
.contactH2{
    grid-area: 2 / 1;

    display: flex;
    flex-direction: column;
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    white-space: nowrap;
    margin-bottom: 30%;
    font-size: 40px;
    color: var(--text);
}

.contactDiv div{
    grid-area: 1 / 2;

}

.contactDiv p{
    font-size: 20px;
    color: var(--text);
}

.contactDiv p:first-child {
    padding-top: 1rem;
}

@media (min-width: 800px){
    .contactDiv{
        width: 60%;
        margin: auto;

    }
    
}




