h1{
    text-align: center;
    margin: 0;
    padding: 1rem 3rem;
}


@media (max-width: 799px){
 .hide-on-mobile{
    display: none;
}   
}

@media (min-width: 800px){
    h1{
        text-align: right;
    }
}