h1 {
  text-align: left;
  font-size: 2rem;
  margin: 1rem;
  padding: 0.6rem;
}

@media (max-width: 799px) {
  .hide-on-mobile {
    display: none;
  }
}

@media (min-width: 800px) {
  h1 {
    text-align: right;
  }
}
