h1 {
  text-align: left;
  font-size: 2rem;
  margin: 1rem;
  padding: 0.6rem;
}

.hide-on-mobile{
    display: none;
}


@media (min-width: 800px){
    .hide-on-mobile{
        display: block;
        position: absolute;
        top: 0;
        right: 0;
    }   

    h1{
        text-align: right;
    }
}
