.page-content{
    transition-property: opacity;
    transition-duration: 1s;
}

.fade-out{
    opacity: 0;
}

.landing-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.slogan{
    width: 150px;
    display: flex;
    flex-direction: column;
    font-size: 2rem;
    padding-top: 20vh;
    font-family: var(--fontFreehand);
}


.slogan *:last-child{
    text-align: right;
}
