.feed {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.post * {
  margin: 0;
}

.post {
  background-color: var(--backgroundTrans);
  border: 2px solid var(--primary);

  border-radius: 0.5rem;
  padding: 1rem;

  display: grid;
  gap: 0.2rem 0.8rem;
  grid-template-columns: auto 1fr;
}

.post-mood {
  width: 35px;
  grid-area: span 2 / 1;
  aspect-ratio: 1/1;
  border-radius: 50%;
  overflow: visible;

  display: grid;
  place-content: center;
}

.post-mood svg {
  width: 100%;
  height: auto;
  fill: var(--text);
}

.post-author {
  font-weight: bold;
}

@media (min-width: 800px) {
  .feed {
    width: 40%;
    margin-left: 25%;
    margin-top: 7rem;
  }
}
