:root {
  --background: white;
  --backgroundTrans: rgba(255, 255, 255, 0.2);
  --text: black;
  --primary: #cd9aff;
  --gradient1: linear-gradient(40deg, #f1a5fd 2%, #F0009E 100%);
  --gradient2: linear-gradient(40deg, #ffde4b 20%, #ff2903 100%);
  --gradient3: linear-gradient(40deg, #8ff2ff 0%, #02ff13 100%);
  --gradient4: linear-gradient(40deg, #70c6f7 0%, #7800F0 100%);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #121212;
    --text: white;
    --primary: #ff4d0086;
  }
}

body {
  background-color: var(--background);
  color: var(--text);
  margin: 0;
  height: 100svh;
  width: 100vw;
}
