:root {
  --background: white;
  --backgroundTrans: rgba(255, 255, 255, 0.2);
  --text: black;
  --blobText: white;
  --primary: #cd9aff;
  --primaryHi: #aa5df8;
  --gradient1: linear-gradient(40deg, #f1a5fd 2%, #F0009E 100%);
  --gradient2: linear-gradient(40deg, #ffde4b 20%, #ff2903 100%);
  --gradient3: linear-gradient(40deg, #8ff2ff 0%, #02ff13 100%);
  --gradient4: linear-gradient(40deg, #70c6f7 0%, #7800F0 100%);

  --navColor: var(--primary);

  --border: 1px solid black;
  --borderPrimary: 1px solid var(var(--primary));

  --fontKadwa: 'Kadwa';
  --fontFreehand: 'Freehand';
}
html {
  scroll-behavior: smooth;
}
@media (prefers-color-scheme: dark) {
  :root {
    --background: #121212;
    --text: white;
  --backgroundTrans: rgba(15, 15, 15, 0.2);

  }
}

@font-face {
  font-family: 'Kadwa';
  src: url(../font/Kadwa-Regular.ttf);
}

@font-face {
  font-family: 'Freehand';
  src: url(../font/Freehand.ttf);
}

* {
  font-family: var(--fontKadwa);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#muteBtn {
  position: absolute;
  right: 3.7rem;
  top: 2rem;
  width: 1.3rem;
  height: 1.3rem;
  background-color: transparent;
  margin-right: 8px;
  font-size: 15px;
  cursor: pointer;
  display: none;
}

body {
  background-color: var(--background);
  color: var(--text);
  margin: 0;
  height: 100svh;
  width: 100vw;
}

h2{
  text-align: left;
  color: var(--text);
  margin: 1rem 2rem;
  padding: 0;
  font-size: 30px;
}

@media (min-width: 800px){
  h2{
  text-align: center;
  font-size: 50px;
  }
  #muteBtn {
    left: 47%;
    top: 8.4rem;
    width: 2rem;
    height: 2rem;
  }
}
